<ion-header>
  <ion-navbar>
    <ion-title>List of videos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">Videos on device</ion-item-divider>
    <ng-container *ngFor="let video of videos | async">
      <ion-card *ngIf="video.downloaded || video.localOrigin">
        <img class="video-thumbnail" src="{{video.thumbPath}}"/>
        <ion-card-header>{{video.title ? video.title : video._id}}</ion-card-header>
        <ion-card-content>
          <p>
            <span>transcoded: {{video.transcoded ? "done" : (video.transcodeProgress ? video.transcodeProgress : "no") }}</span>, 
            <span>uploaded: {{video.uploaded ? "done" : (video.uploadProgress ? video.uploadProgress : "no")  }}</span>
            <span>downloaded: {{video.downloaded}} </span> <span>remoteId: {{video.remoteId}}</span>       
          </p>
          <button *ngIf="video.transcoded" ion-button small (click)="playVideo(video._id)">play</button>
          <button ion-button small (click)="presentActionSheet(video._id)">options</button>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Remote videos</ion-item-divider>
    <ion-card *ngFor="let remoteVideo of remoteVideos | async">
      <img class="video-thumbnail" src="{{remoteVideo.thumbUrl}}"/>
      <ion-card-header>{{remoteVideo.title ? remoteVideo.title : remoteVideo._id}}</ion-card-header>
      <ion-card-content>
        <button *ngIf="!downloaded(remoteVideo._id)" ion-button small (click)="this.videoManager.downloadRemote(remoteVideo._id)">download</button>
        <button *ngIf="checkLocalAuthor(remoteVideo._id)" ion-button small (click)="removeRemote(remoteVideo._id)">remove</button>
        {{ downloadProgress(remoteVideo._id) }}
      </ion-card-content>
    </ion-card>
  </ion-item-group>

  
</ion-content>
